/* Mobile Styles */
/* Styles for mobile devices */

/* Base styles */
body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background-color: rgba(204, 215, 175, 0.994);
  margin: 0;
  padding: 0;
}
/* Navigation */
#navigation {
  background-color: #444444;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
}

#navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

#navigation ul li {
  flex: 1;
  text-align: center;
}

#navigation ul li a {
  color: #fff;
  text-decoration: none;
}

/* Name */
#name {
  text-align: left;
  font-size: 3rem;
  font-style: italic;
  padding-top: 2ch;
  color: #038035;
}

/* Sections */
section {
  padding: 1rem;
  margin-bottom: 3rem;
}
h2 {
    font-weight: bold;
    font-size: 2rem;
}
a {
    color: rgb(247, 252, 249);
}

/* About Section */
#about {
    text-align: center;
}
#about h2 {
    color: rgb(7, 201, 245);
    font-size: 2rem;
    font-weight: 950;
}

/* Experience Section */
#experience ul li {
    list-style: none;
    display: inline-block;
    margin: 0.5em;
    background-color: rgb(248, 253, 199);
    color: rgb(90, 58, 7);
    padding: 1cm;
    border-radius: 0.5em;
    border-color: rgb(68, 18, 115);
    border-style: solid;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px; /* Space between rows and columns */
}
.grid-item {
  display: flex;
  flex-direction: row;
  background-color:rgb(105, 108, 108);
  color: white;
  border-radius: 0.8em;
  padding: 0.5em;
}
.one-experience {
  display: flex;
  flex-direction: column;
}
.date {
  font-weight: bold;
  margin-right: 1em;
  min-width: fit-content;
}
/* Connect Section */
#connect {
  display: flex;
  flex-direction: row;
  margin: 1em;
  padding: 0.5em;
  color: whitesmoke;
  background-color: aqua;
  border-radius: 0.8em;
  }

.fa {
    padding: 20px;
    font-size: 40px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 60%;
    display: flex;
    flex-direction:row;
    
  }
  
.fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-github {
    font-size: 70px;
    background: #000405;
    color: white;
  }
/* Media Queries */
@media screen and (min-width: 768px) {
  /* Tablet Styles */
  #name {
      font-size: 3rem; /* 1st change */
  }

  h2 {
      font-size: 3rem; /* 1st change */
  }

  .grid-container {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 10px; /* Space between rows and columns */
  }

  .fa {
      font-size: 60px; /* 1st change */
  }
}

@media screen and (min-width: 1024px) {
  /* Desktop Styles */
  #navigation ul li {
      margin-right: 20px; /* 1st change */
  }

  #name {
      font-size: 4rem; /* 1st change */
  }

  h2 {
      font-size: 4rem; /* 1st change */
  }
} 
 
